<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Vue 3</title>
    <style>
        img{width: 200px;}
    </style>
</head>
<body>
    <section id="app">

        <form action="">
            <input type="text" v-model="Digitado">
            <p>{{Digitado}}</p>
        </form>

        <!-- A DIRETICA V-IF, V-ELSE E V-ELSE0IF SERVE PARA EXIBIR INFORMAÇÕES CONDICIONAIS -->
        <section v-if="Digitado == 1">
            <img :src="img1" alt="">
        </section>
        
        <section v-else-if="Digitado == 2">
            <img :src="img2" alt="">
        </section>
       
        <section v-else-if="Digitado == 3">
            <img :src="img3" alt="">
        </section>
        <p v-else>Por favor, informe um valor númerico entre 1 e 3 para escolher uma imagem</p>
    </section>


        <script src="https://unpkg.com/vue@3"></script>
        <script>
            const app = Vue.createApp({
                data(){
                    return{
                        Digitado:"",
                        img1:"imagens/imagem1.webp",
                        img2:"imagens/imagem2.jpg",
                        img3:"imagens/imagem3.jpg"
                    }
                    
                }
            })

            app.mount("#app")
        </script>
</body>
</html>