<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo 5 Vue</title>
</head>
<body>
    <section id="app">
        <h1>Lista de compras</h1>
        <form action="">
            <input type="text" v-model="produto">
            <button v-on:click.prevent="adicionarProduto">Inserir Produto</button>
            <button @click.prevent="removerProduto">remover intem</button>
        </form>

        <ul>
            <li v-for="item in lista">{{item}}</li>
        </ul>
    </section>

    <script src="https://unpkg.com/vue@3"></script>

    <script>
        const app = Vue.createApp({
            data(){
                return{
                    lista:[],
                    produto:""

                }
            },

            methods:{
                adicionarProduto(){
                       if(this.produto == ''){ // limpar o campo input
                        alert("Você precisa adicionar um poduto")
                       }
                       else{
                        this.lista.push(this.produto) //adicionando elementos no vetor
                        this.produto = ''
                       }
                },
                removerProduto(){
                    alert("Produto Removido")
                    this.lista.pop() //remove o ultimo intem do vetor
                }
            }

        })
        app.mount("#app")
    </script>
</body>
</html>